*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orangered;
    padding: 15px;
}

section{
    margin: auto;
    max-width: 1200px;
}

.container{
    min-height: 50px;
    background-color: white;
    
}

.bordered{
    border: 1px dashed black;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.persona, .icon{
    width: 40%;
}

.logo{
    width: 20%;
    text-align: center;
}

.icon{
    text-align: end;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main > div{
    width: 32%;
    margin-top: 40px;
}

main > div > img{
    width: 100%;
}
