* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ff6900;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

section {
    margin: auto;
    max-width: 1200px;
}

.container {
    min-height: 20px;
    color: white;
}

/* .bordered{
    border: 1px dashed black;
} */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.persona,
.icon {
    width: 40%;
}

a {
    text-decoration: none;
    color: white;
}

.persona>a {
    margin-right: 5px;
}

.persona>a:hover {
    text-decoration: underline;
}

.icon>a {
    margin-left: 5px;
}

.logo {
    width: 20%;
    text-align: center;
}

.icon {
    text-align: end;
}

main {
    padding: 70px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main>div {
    width: 32%;
    margin-top: 40px;
}

.item>img {
    width: 100%;
}

footer {
    background-color: #1a1a1a;
    padding: 15px;
}

.end {
    justify-content: space-between;
}

.info>a {
    font-size: 0.8em;
    padding-right: 5px;
}

.info>p {
    padding: 10px 0;
}

.other>p {
    font-size: 0.8em;
    padding: 10px 0;
}

.other>a {
    padding-right: 5px;
}

.relative {
    position: relative;
}

.heart {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 5;
    font-size: 2em;
    padding: 5px 16px;
    background-color: white;
}

.heart:hover {
    color: red;
}

.discount {
    z-index: 4;
    position: absolute;
    bottom: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(111, 207, 111);
}

.relative>.discount>span {
    padding: 4px;
    margin-right: 3px;
    color: white;
    font-size: 0.9em;
}

.price_new {
    color: red;
    font-weight: bolder;
}

.price_old {
    text-decoration: line-through;
}

.item_2 {
    display: none;
}

.item:hover .item_1 {
    display: none;
}

.item:hover .item_2 {
    display: inline-block;
}